# *.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

cdk.context.json
cdk.json
!jest.config.json
tsconfig.json
.gitignore
.npmignore

.env
codes/api-test/.env
